* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to bottom, lightblue, darkblue); */
}

#canvas1 {
  width: 800px;
  height: 500px;
  border: 2px solid black;
  /* background: linear-gradient(to bottom, lightblue, darkblue); */
}
